.git/*
.gitlab/
.gitlab-ci.yml
.gitignore

README.md

deploy/
node_modules/

backend/runtime
backend/web/assets

frontend/runtime
frontend/web/assets
frontend/web/uploads

api/runtime
api/web/assets
console/runtime


docker-compose.yml

Dockerfile

/api/tests
/tests
